<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Product Error</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.css">
</head>
<body>

<!--/*@thymesVar id="message" type="pl.pozsda19.electroshop.controller.mvc.ProductMVCController"*/-->
<p th:text="${message}" ></p>
<h1>Powrót do:</h1><br>
<a th:href="@{/showProducts/addProduct}">Dodaj Produkt</a>
<a th:href="@{/showProducts}">Lista Produktów</a><br>

<h1></h1>

</body>
</html>
