<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.css">
</head>
<body>
<h1>Dodaj Produkt</h1><br>

    <!--/*@thymesVar id="product" type="pl.pozsda19.electroshop.domain.dto.ProductEntityWriting"*/-->
    <form action="#" method="post">
        <legend>Nowy Produkt</legend>
        <fieldset>
            <label>Kod<input th:type="text"/></label>
            <label>Nazwa<input th:type="text"/></label>
            <label>Kategoria<input th:type="text"/></label>
            <label>Podkategoria<input th:type="text"/></label>
            <label>Grupa<input th:type="text"/></label>
            <label>Opis<input th:type="text"/></label>
            <label>Zdjęcie<input th:type="text"/></label>
            <label>Cena<input th:type="text"/></label>
            <label>Ilość<input th:type="text"/></label>
            <p>
                <button type="submit">Dodaj</button>
                <button type="reset">Resetuj</button>
            </p>
        </fieldset>



    </form>

</body>
</html>
