<!DOCTYPE html>
<html lang="pl" xmlns:position="http://www.w3.org/1999/xhtml" xmlns:left="http://www.w3.org/1999/xhtml"
      xmlns:style="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Electrosklep.pl</title>
    <meta name="Author" content="Firma Pawel&Adam&Filip">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Keywords" content="elektrosklep , narzędzia , narzedzia , konin , poznańska ,
     poznanska , hurt , części , zamienne , zamiennik , zamienieki , szczotki , bosch, makita, celma ,
     metabo , elektronarzędzia , wiertarka , szlifierka , wirnik , części, konin">
    <meta name="Description" content="elektroseklep części nowe używane zamienniki szczotki wirniki koła zębate wiertarka szlifierka młot detal bosch makita celma fein metabo hitachi">
    <link rel="canonical" href="http://www.elektrosklep.pl">
    <meta name="Robots" content="index,follow">
</head>
<body style="background-color: lightyellow">

<div id="container" style="background-color: orangered">
    <div id="header">
        <div id="header_1">
            <a href="/" style="position: relative; left: 25px">Elektrosklep Konin Sprzedaż hurt-detal</a><br>
        </div>
        <div id="header_2">
            <a href="/" style="position: relative; right: -50px">Koszyk</a>
        </div>
    </div>

</div>

<div style="color: darkblue">
<p><b>Witamy w ELECKTROSKLEPIE!!!</b></p>
<p>Ulica Poznańska 23 Konin</p>
<p><u>tel. 63 243 89 68, tel. 505 055 321</u></p>
</div>
</body>
</html>
