<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Elektroserw.pl</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Keywords" content="elektroserw , narzędzia , narzedzia , konin , poznańska ,
     poznanska , hurt , części , zamienne , zamiennik , zamienieki , szczotki , bosch, makita, celma ,
     metabo , elektronarzędzia , wiertarka , szlifierka , wirnik , części, konin">
</head>
<body>
<h1>Logo</h1>

</body>
</html>
