<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>O firmie</title>
</head>
<body>
Jesteśmy doświadczonym sprzedawcą elektronarzędzi sieciowych i aku-

mulatorowych renomowanych firm, takich jak: Bosch, Makita, Celma.

Zajmujemy się sprzedażą detaliczną i hurtową elektronarzędzi,

zaopatrujemy hurtownie, sklepy, wypożyczalnie oraz firmy budowlane.

To dlatego właśnie mogliśmy

tak znacząco obniżyć ceny na wiele produktów.

Nie jesteśmy wirtualnym sklepem!!!  Nasza siedziba znajduje się w

Koninie, gdzie towar można również odebrać osobiście. Państwa zamówienie

możemy także przesłać na wskazany adres na terenie całej Polski.

(Po uzgodnieniu z Klientem,

możliwa jest również wysyłka poza granice Polski).

Zakres naszej oferty:

--> Sprzedaż detaliczna i hurtowa elektronarzędzi,

osprzętu oraz części po atrakcyjnych cenach

-->Naprawa spawarek

--> Naprawa narzędzi starszej generacji

--> Regeneracja wierteł koronowych i otwornic

--> Regeneracja wirników i stojanów - silniki typowe i nietypowe

--> Przewierty wiertłami koronowymi od Ø60 do Ø250

--> Wypożyczalnia elektronarzędzi i sprzętu budowlanego

na dogodnych warunkach.

--> Służymy pomocą techniczną zarówno przed,

jak i po zakupie sprzętu w naszej firmie.

--> Na życzenie przeprowadzamy weryfikację opłacalności naprawy.

Jeżeli potrzebujesz fachowej porady w wyborze sprzętu, skontaktuj się z

naszym doradcą, a pomoże on dopasować towar do Twoich potrzeb.

Każde elektronarzędzie testujemy gruntownie przed wysyłką!!!

Posiadamy profesjonalny serwis, który służy Państwu pomocą i radą,

w razie jakichkolwiek problemów.
</body>
</html>
