<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products PriceUp</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.css">
</head>
<body>
<h1>Produkty wg ceny rosnąco!</h1>
<div class="list-group" th:each="product : ${products}">
        <!--/*@thymesVar id="products" type="pl.pozsda19.electroshop.domain.dto.ProductEntityReading"*/-->

    <a th:href="@{/showProducts/showProduct/{code}(code=${product.code})}" class="list-group-item list-group-item-action">

             <td th:text="${product.name}"></td>
             <td th:text="${product.description}"></td>
             <td th:text="${product.price}"></td>

    </a>
</div>

</body>
</html>
