<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Products</title>
    <link rel="stylesheet" href="showProductsStyle.css">
</head>
<body>
<style>
    .container{
        width: 60%;
        height: auto;
        background: skyblue;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .box{
        width: 20%;
        height: 300px;
        background: yellow;
        margin: 20px;
        box-sizing: border-box;
        font-size: 10px;
    }
</style>

<div class="container">
    <div class="box">1</div>
    <div class="box">2</div>
    <div class="box">3</div>

</div>
</body>
</html>
